<!-- Template for DCA Strategy cards to display on a users My Strategies Page from the Nav Bar on the Main Page-->



<div class="card shadow" style="width: 20rem;">
    <div class="container" style="padding-left: 5px; padding-right: 0px; padding-top: 5px; padding-bottom: 5px;">
        <div class="card-text">
            <div class="row">
                <div class="col-md-7">
                    
                </div>
                <div class="col-md-5 float-right">
                    {% if  is_active %}
                        <a href="#" class="btn btn-sm btn-outline-primary" data-toggle="tooltip" data-placement="left" title="Pause"><i class="fa fa-pause"></i></a>
                    {% else %}
                        <a href="#" class="btn btn-sm btn-outline-success" data-toggle="tooltip" data-placement="left" title="Start"><i class="fa fa-play"></i></a>
                    {% endif %}
                    <a href="{% url 'edit_strategy' pk %}" class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-cog"></i></a>
                    <a href="#" class="btn btn-sm btn-outline-danger" data-toggle="tooltip" data-placement="right" title="Delete"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <br/>
            <h5><strong>Cryptocurrency: </strong>{{ crypto }}</h5>
            <h5><strong>Order Type: </strong> {{ order_type }}</h5>
            <h5><strong>Amount: </strong>{{ amount }} {{currency}}</h5>
            <h5><strong>Execution Count: </strong> {{ count }}</h5>
            <h5><strong>Next execution is: </strong> </h5>
            <p>{{ next_execution_date }} UTC</p>
        </div>
    </div>
</div>

