{% extends 'DCAstrategies/_base.html' %} 
{% load socialaccount %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container" id="first">
    <div class="container-fluid">
        <div class = "row">
            <div class="col-sm-2 col-12">
                <br/>
            </div>
            <div class= "col-sm-8 col-12">
                <br/>
                <h3 class="text-center"> Edit Strategy</h3>
                
            </div>
            <div class="col-sm-2 col-12">
                <br/>
            </div>
            <hr/>
        </div>
        <div class="row justify-content-center">
            <div class="card shadow" style="width: 50rem;">
                <div class="container" style="padding-left: 5%; padding-top: 5%; padding-right: 5%; padding-bottom: 5%;">
                        {% csrf_token %}
                        {% crispy form %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}