{% extends 'DCAstrategies/_base.html' %} {% load socialaccount %}

{% block head %}
<title>DCA Pros | Homepage</title>
<style>
</style>
{% endblock %}


{% block content %}
  
    <div class="container" id="first" style="text-align: center;">

      {% if user.is_authenticated %}
        <h1 class="text-light">Welcome, {{ user.username|title }}, to DCAPros.io!</h1>
      {% else %}
        <h1 class="text-light">Welcome to DCAPros.io!</h1>
      {% endif %}
      <br /><br />
      <h6 class="text-light"><strong>At DCAPros.io we aim to provide our users with the best Dollar Cost Averaging strategies for Coinbase Pro. Our users save the most money by taking advantage of the lower fees for buying cryptocurrencies on the Coinbase Pro exchange vs. the original Coinbase. Our sole aim is to help other crypto fanatics to achieve their DCA strategy dreams, all while saving them money!</strong></h6>
      <br /><br />
      <h4 class="neonText"><strong>At this time we have facilitated:</strong></h4>
      <br />
      <div class="row">
          <div class="col">
            <h2><strong>Active Strategies:</strong></h2>
          </div>
          <div class="col">
            <h2><strong>Orders Made:</strong></h2>
          </div>
          <div class="col">
            <h2><strong>Fees Avoided:</strong></h2>
          </div>
      </div>
      <div class="row">
        <div class="col">
          <h2 class="neonText">{{ totalStrategies }}</h2>
        </div>
        <div class="col">
          <h2 class="neonText">{{ totalOrders }}</h2>
        </div>
        <div class="col">
          <h2 class="neonText">${{ totalFeesSaved }}</h2>
        </div>
      </div>
      <br/>
      <div class="row justify-content-center">

        <div class="col">
          {% if user.is_authenticated  %}
            {% if keyExists %}
              {% if transferPrivs %}
                {% if bankKnown %}
                  <a href="{% url 'strategies' %}" class="btn-round btn-primary">Get Started</a>
                {% else %}
                  <a href="{% url 'add_payment_method' %}" class="btn-round btn-primary">Get Started</a>
              {% else %}
                <a href="{% url 'strategies' %}" class="btn-round btn-primary">Get Started</a>
              {% endif %}
              {% endif %}
            {% else %}
              <a href="{% url 'add_api_key' %}" class="btn-round btn-primary">Get Started</a>
            {% endif %}
          {% else %}
            <a href="/" class="btn-round btn-primary">Get Started</a>
          {% endif %}
        </div>
          
      </div>
    </div>
  </section>

{% endblock %}