{% extends 'DCAstrategies/_base.html' %} 
{% load socialaccount %}
{% load crispy_forms_tags %}

{% block head %}
<title>DCA Pros | Login</title>
{% endblock %}

{% block content %}
<div class="container" class="first">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-12">
                <br />
            </div>
            <div class="col-sm-8 col-12">
                <br />
                
        
            </div>
            <div class="col-sm-2 col-12">
                <br />
            </div>
            <hr />
            <br />
            <br />
            <br />
        </div>
        <div class="row justify-content-center">
            <div class="card shadow" style="width: 50rem;">
                <br/>
                <h3 class="text-center">Login/Sign Up</h3>
                <div class="container" style="padding-left: 5%; padding-top: 5%; padding-right: 5%; padding-bottom: 5%;">
                    <a href="{% provider_login_url 'google' %}" class="btn btn-sm btn-secondary">
                        <i class="fab fa-google" aria-hidden="true"></i>
                        <span>Login with Google</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}